@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
  box-sizing: border-box;
}

body{
  background: #F9F9F9;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 95%;
  margin: 0 auto;
}

.flex{
  display: flex;
}

button{
  outline: none;
  border: none;
}

.header{
  margin-top: 1.5rem;
}

.header-store-name{
  margin: 0 0 0 1.375rem;
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 600;
  color: #7E72F2;
}

.main{
  margin-top: 3rem;
}

ul{
  list-style-type:none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

.nav-list{
  margin-top: 2rem;
}

.nav-list-item:nth-child(1){
  margin-left: 0;
}

.nav-list-item:nth-child(1) a{
  display: inline-block;
  background: url("img/home.svg") no-repeat;
  width:17px;
  height: 17px;
}

.nav-list-item{
  position: relative;
  margin-left: 41px;
}

.nav-list-item a{
  font-weight: 400;
  font-size: 0.875rem;
  color: #7E72F2;
}

.nav-list-item.active a{
  color: #000000;
}

.nav-list-item::after{
  content: "";
  background: url("img/chevrons-right.svg");
  position: absolute;
  min-width: 15px;
  min-height: 10px;
  top: 5px;
  right: -28px;
}

.nav-list-item:last-child::after{
  content: none;
}

.filters{
  min-width: 22rem;
  width: 30%;
}

.filters-header{
  justify-content: space-between;
}

.filters-name{
  margin: 0;
  font-size: 1.125rem;
  padding: 0.55rem 0;
  font-weight: 400;
  color: #2C2C2C;
}

.filters-hide{
  background: #FFFFFF url("img/chevrons-left.svg") no-repeat center center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  width: 3rem;
  height: 2.5rem;
  cursor: pointer;
}

.filters-content{
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  margin-top: 1rem;
  height: calc(100% - 6.625rem - 1.75rem - 2px);
}

.filters-content-container{
  min-width: 18rem;
  width: 66%;
  margin-left: 10%;
}

.filters-field-name{
  margin: 0;
  font-weight: 600;
  font-size: 1.125rem;
}


.filters-radio-list-block{
  padding-top: 1.188rem;
  color: #2C2C2C;
}



.filters-content ul{
  font-weight: 300;
  font-size: 1rem;
  margin-top: 1.4rem;
  padding-bottom: 1.75rem;
  border-bottom: 1px solid #D6D6D6;
}

.filters-checkbox-list-block:last-child ul{
  border-bottom: none;
}

.filters-checkbox-list-item{
  position: relative;
}

.filters-content ul li{
  margin-bottom: 1.125rem;
  display: flex;
  align-items: center;
}

.circle-img, .square-img{
  display: inline-block;
  margin-right: 0.75rem;
  cursor: pointer;
}

.circle-img{
  width: 19px;
  height: 16px;
  background: url("img/circle.svg") no-repeat center center;
}

.circle-img.active{
  background: url("img/active-circle.svg") no-repeat center center;
}

.square-img{
  width: 21px;
  height: 18px;
  background: url("img/square.svg") no-repeat center center;
}

.square-img.active{
  background: url("img/active-square.svg") no-repeat center center;;
}

.item-quantity{
  position: absolute;
  right: 0;
}

.filters-checkbox-list-block{
  margin-top: 2rem;
}

.filters-reset{
  color: #FFFFFF;
  width: 100%;
  background: #6F64F8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: 1rem 0;
  margin-top: 1.75rem;
  cursor: pointer;
}

.item-list-container{
  margin-left: 2rem;
  width: 100%;
}

.item-list-header{
  justify-content: space-between;
  margin-top: -0.5rem;
}

.item-list-counter{
  font-size: 1.125rem;
  padding: 1.125rem 0 0 0;
  margin: 0;
}

.item-list-like{
  background:#6F64F8 url("img/like.svg") no-repeat center center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  width: 47px;
  height: 40px;
  cursor: pointer;
}

.item-list-search{
  position: relative;
  margin-top: 1.625rem;
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
}

.item-list-search input{
  width: 90%;
  padding: 1rem 0 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1.375rem;
  font-family: 'Montserrat', sans-serif;
}

.item-list-search img{
  position: absolute;
  top: 50%;
  right: 1.375rem;
  transform: translateY(-50%);
}

.item-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item{
  width: 32%;
  min-width: 21.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  background: #fff;
  margin-top: 1.75rem;
}

/*.item-img{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 17rem;
  margin-top: 1.25rem;
}*/

.item-img{
  max-width: 90%;
  height: 17rem;
  margin: 2rem auto 0;
}

.item:nth-child(1) .item-img{
  background: url("img/apple-watch.png") no-repeat center;
  background-size: contain;
}

.item:nth-child(2) .item-img{
  background: url("img/jbl-speaker.png") no-repeat center;
  background-size: contain;
}

.item:nth-child(3) .item-img{
  background: url("img/iphone-x.png") no-repeat center;
  background-size: contain;
}

.item:nth-child(4) .item-img{
  background: url("img/beats-headphones.png") no-repeat center;
  background-size: contain;
}

.item:nth-child(5) .item-img{
  background: url("img/macbook-pro.png") no-repeat center;
  background-size: contain;
}

.item:nth-child(6) .item-img{
  background: url("img/ipad-pro.png") no-repeat center;
  background-size: contain;
}

.item:nth-child(7) .item-img{
  background: url("img/homepod.png") no-repeat center;
  background-size: contain;
}

.item:nth-child(8) .item-img{
  background: url("img/jlab-audio-wireless.png") no-repeat center;
  background-size: contain;
}

.item:nth-child(9) .item-img{
  background: url("img/magic-mouse.png") no-repeat center;
  background-size: contain;
}

.rating{
  display: inline-block;
  padding-left: 0.625rem;
  border-radius: 3px;
  color: white; line-height: 1.975rem;
  width: 4rem;
  height: 1.875rem;
  background: #6F64F8 url("img/star.svg") no-repeat 80% center;
}

.rating-and-price,.item-description{
  width: 90%;
}

.rating-and-price{
  margin: 2rem auto 1rem;
}
.item-description{
  margin: 0 auto;
  font-style: normal;
  color: #2C2C2C;
}

.item-description h2{
  font-size: 1rem;
  margin: 0;
}

.item-description p{
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 0.188rem;
}

.price {
  font-size: 1.125rem;
  float: right;
  line-height: 1.313rem;
}

.item-buttons{
  display: flex;
}

.item-buttons button{
  outline: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 50%;
  height: 2.813rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.813rem;
  bottom: 0;
  font-size: 0.75rem;
}

.item-buttons button:hover{
  cursor: pointer;
}

.item-buttons button:nth-child(1){
  border-radius: 0 0 0 8px;
  color: #000000;
  background: #EDEDED url(img/heart.svg) no-repeat 20% center;
}

.item-buttons button:nth-child(2){
  border-radius: 0 0 8px 0;
  color: #ffffff;
  background: #6F64F8 url(img/shopping-bag.png) no-repeat 10% center;
}

.pagination{
  text-align: center;
  justify-content: center;
  margin: 2.5rem 0 1.5rem 0;
}

.pagination button{
  background: #EDEDED;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.125rem;
}

.pagination button:hover {
  cursor: pointer;
  background: #DEDEDE;
}

.pagination-numbs{
  background: #EDEDED;
  border-radius: 20px;
  width: 28rem;
  margin: 0 1rem;
}

.pagination-numbs button.active{
  background: #6F64F8;
  color: #FFFFFF;
}

.pagination button.pagination-left{
  background: #EDEDED url("img/pagination-left.svg") no-repeat center;
}

.pagination button.pagination-right{
  background: #EDEDED url("img/pagination-right.svg") no-repeat center;
}

.pagination button.pagination-left:hover{
  background: #DEDEDE url("img/pagination-left.svg") no-repeat center;
}

.pagination button.pagination-right:hover{
  background: #DEDEDE url("img/pagination-right.svg") no-repeat center;
}
